<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=width, initial-scale=version">
    <title>Login Form</title>
</head>
<body>
    <main>
        <form action="/users/register" method="post">
            <input type="text" placeholder="Enter First name" name="firstName">
            <input type="text" placeholder="Enter Last name" name="lastName">
            <input type="text" placeholder="Enter Email" name="email">
            <input type="text" placeholder="Enter Password" name="password">
            <input type="text" placeholder="Enter City" name="city">
            <button type="submit">Register</button>
        </form>
    </main>
</body>
</html>