<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=width, initial-scale=version">
    <title>title</title>
</head>
<body>
    <main>
        <a href="/users/register">Register</a>
        <a href="/users/login">Login</a>
    </main>
</body>
</html>