<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/users/register">User Register</a>
    <a href="/users/login">User Login</a>
  </body>
</html>
